
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Profile</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="container" ng-app="clearview" ng-controller="profileController">

            <div class="form-group">
                <div class="input-group">
                    <a ui-sref="add_customer"  class="btn btn-outline btn-primary"><i class="fa fa-user"></i>&nbsp;View Profile
                    </a>
                </div>
            </div>

                View Profile Content

        </div>
        <!-- /.col-lg-12 -->
    </div>

