

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a ui-sref="home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-male fa-fw"></i> Customers<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a ui-sref="view_customers">View Customers</a>
                    </li>
                </ul>
                <!-- /.sidenav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-server fa-fw"></i> Manage Services<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a href="/pages/views/customers/users/view_users.html"><i class="fa fa-angle-right fa-fw"></i> Delivery</a>
                        <ul class="nav nav-third-level collapse" aria-expanded="false">
                            <li>
                                <a href="/pages/views/customers/users/view_users.html"><i class="fa fa-angle-right fa-fw"></i> ECF</a>
                            </li>
                            <li>
                                <a href="/pages/views/customers/users/view_users.html"><i class="fa fa-angle-right fa-fw"></i> Http Delivery</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/pages/views/customers/users/view_users.html"><i class="fa fa-angle-right fa-fw"></i> Streaming</a>
                        <ul class="nav nav-third-level collapse" aria-expanded="false">
                            <li>
                                <a href="/pages/views/customers/users/view_users.html"><i class="fa fa-angle-right fa-fw"></i> Audio</a>
                            </li>
                            <li>
                                <a href="/pages/views/customers/users/view_users.html"><i class="fa fa-angle-right fa-fw"></i> Live</a>
                            </li>
                            <li>
                                <a href="/pages/views/customers/users/view_users.html"><i class="fa fa-angle-right fa-fw"></i> Vod</a>
                            </li>

                        </ul>
                    </li>

                </ul>
                <!-- /.sidenav-second-level -->
            </li>

            <li>
                <a href="forms.html"><i class="fa fa-users fa-fw"></i> Users</a>
            </li>
            <li>
                <a href="tables.html"><i class="fa fa-bar-chart-o fa-fw"></i> Analytics</a>
            </li>
            <li>
                <a href="tables.html"><i class="fa fa-bell-o fa-fw"></i> Notifications / Alerts</a>
            </li>


        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>